* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #EFEFEF;
}

.main {
    max-width: 1080px;
    height: 100%;

    margin: 0 auto;

    background: url("../images/page/bg.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    box-shadow: 0 0 10px #9E9E9E;
}

.presentation h1 {
    text-align: center;
    padding-top: 20px;
}

.video,
.store-links {
    width: 430px;
}

.video {
    margin: 5px auto;
}

.store-links {
    height: 75px;
    margin: 10px auto;
}

.store-links a:first-child {
    float: left;
}

.store-links a:last-child {
    float: right;
}

.about {
    clear: both;
    width: 430px;
    margin: 30px auto 0 auto;
    text-align: center;
}

.about a {
    font-family: Arial;
    color: #333;
    text-decoration: none;
    font-size: 12px;
}

.about a:last-child:before {
    content: "|";
    margin: 0 10px;
}